<%= form_with(model: snippet, local: true) do |form| %>
  <% if snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
      <% snippet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :snippet_description %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :snippet_content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :snippet_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
